*{
    margin: 0;
    padding: 0;
}
div{
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding:0 10px;
    background-color: #f90;
    color: #fff;
}
div::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-image: url("https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1329535599,2362584063&fm=26&gp=0.jpg");
    background-size: 100% 100%;
    vertical-align: -1px;
}
div::after{
    content: '';
    display: inline-block;
    float: right;
    margin-top: 7px;
    width: 15px;
    height: 15px;
    background-image: url("2.png");
    background-size: 100% 100%;
}